#welcome {
  background-image: url("https://images3.alphacoders.com/112/1129065.jpg");
  background-position: center;
  background-size: cover;
  overflow: hidden;
  object-fit: cover;
  min-height: 80vh;
}
